@font-face {
  src: url(fonts/AvenirNextRoundedProMedium.TTF);
  font-family: Avenir;
}
body {
  margin: 0px;
  font-family: Avenir;
}
.nav {
  height: 9vh;
  border-bottom: 1px solid rgb(209, 209, 209);
}
.back {
  margin-top: 3vh;
  background-color: white;
  border: none;
}
.search {
  position: absolute;
  right: 12vw;
  top: 3vh;
  background: none;
}
.search-users {
  position: absolute;
  top: 2vh;
  right: 22vw;
  background: white;
  height: 4.3vh;
  width: 44vw;
  border: 2px solid black;
  border-radius: 50px;
  display: none;
  padding: 2px;
  outline: none;
}
.upload {
  margin-top: 3vh;
  float: right;
  margin-right: 6px;
}
.heading {
  position: absolute;
  top: 3.5vh;
  right: 35vw;
  font-size: 1em;
}
.vhead {
  margin-top: 6vh;
  margin-left: 2vh;
  padding: 4px;
  font-size: 1.2em;
}
.grey {
  color: rgb(151, 149, 149);
}
.horizontal-scroll {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;

  width: 100vw;
  height: 28vh;
  /* border: 1px solid red; */
  flex-direction: row;
  overflow-x: scroll;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}
.card {
  height: 90%;
  min-width: 80%;
  /* border: 1px solid red; */
  margin: 0px 10px;
}
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}
.m {
  width: 2vw;
  visibility: hidden;
  margin: 0px;
}

.n {
  width: 2px;
  color: white;
}
.one {
  margin-left: 0px;
  margin-right: 20px;
}
/* video */
.video {
  width: 100%;
  height: 100%;

  /* border: 1px solid blue; */
}
.wrapper {
  display: table;
  position: relative;
  border-radius: 40px;
  height: 100px;
  margin: 7px;
  margin-left: 0px;

  /* border: 1px solid pink; */
}
.playpause {
  background-image: url(https://image.flaticon.com/icons/svg/122/122341.svg);
  filter: invert(1);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 40%;
  top: 40%;
  background-size: contain;
  background-position: center;
}
.week {
  font-size: 0.8em;
  line-height: 20px;
  color: rgb(180, 180, 180);
}

.review-heading {
  margin-top: 2vh;
}
.edit {
  float: right;
  padding: 20px;
  color: rgb(80, 130, 255);
  font-size: 0.9em;
}
.review {
  font-size: 1.2em;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  float: left;
}

/* vertical scroll */
.vertical-scroll {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 40vh;
  /* border: 1px solid blue; */
  overflow-x: scroll;
}
.vertical-scroll::-webkit-scrollbar {
  display: none;
}
.user {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100vw;
  min-height: 10vh;
  /* border: 1px solid rgb(86, 86, 158); */
  margin: 2px;
}
.profile-pic {
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 5px;
}
.comment {
  margin-top: 2px;
  width: 280px;
  font-size: 0.8em;
  line-height: 20px;
}
.time {
  font-size: 0.8em;
  color: rgb(102, 131, 255);
}
.year {
  font-size: 0.8em;
  color: rgb(167, 167, 167);
}

.footer {
  background-color: #fff;
  height: 12vh;
  width: 100vw;
  position: absolute;
  top: 90vh;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.message {
  box-sizing: border-box;
  height: 95;
  width: 53vw;
  color: white;
  background-color: rgb(41, 104, 255);
  border-radius: 50px;
  text-align: center;
  padding: 10px;
}
.btn {
  padding: 10px;
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  background-color: rgb(236, 234, 234);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
